// As tests.config, plus fastp trimming flags passed the way a consuming
// pipeline passes them: through ext.args.
docker.enabled = true
docker.runOptions = '-u $(id -u):$(id -g)'

process {
    withName: FASTP_TRIM {
        container = 'ghcr.io/eit-gbi/nf-mod-fastp:latest'
        cpus      = 1
        ext.args  = '-q 30 -l 100'
    }
}
